<div class="area_order_button">
  <ul>
    <li id="otopl"><div class="checkbox checked" data-checked="true"></div>Отопление</li>
    <li id="gaz"><div class="checkbox"></div>Газ</li>
  </ul>
  <%= link_to "Оставить заявку", "#", :class => 'ebutton' %>
</div>