div#modal_window {

  h4.modal-title {
    font-size: 15px;
    color: #161616;
  }

  .modal-body {
    font-size: 12px;
  }

  div.dropdown-menu.open {
    border: none;
    shadow:none;
    background-color: transparent;
  }

  /* выправляем выравнивание в bootstrap-select-picker */
  span.filter-option {
    text-align: left !important;
  }

}