<%# статус-блок, который виден, когда находимся в режиме редактирования полигонов Зданий %>
<div id="map_editing" class="status_block">
  <span class="message">Редактирование полигонов Зданий</span>
</div>