<%# статус-блок, который виден, когда находимся в режиме удаления полигонов %>
<div id="map_removing" class="status_block">
  <span class="message">Кликните по полигону, который надо удалить</span>
  <a href="#" title="Отменить" id="cancelRemoving">Завершить</a>
</div>