<%# статус-блок, который виден, когда находимся в режиме рисования полигона %>
<div id="map_creating" class="status_block">
  <span class="message">Рисование полигона в процессе</span>
  <a href="#" title="Отменить" id="cancelCreating">Отменить (Esc)</a>
  <a href="#" title="Добавить вершину" id="completeCreating">Завершить (Enter)</a>
</div>