<select id="unlinked_floors" class="selectpicker" data-style="btn-default">
<% floors.each do |floor| %>
    <option value="<%= floor.id%>"><%= floor.title %></option>
<% end %>
</select>
<button type="button" id='submit_floor_link' class="btn btn-success">Сохранить</button>