div.container#search_container {

  position: relative;
  height: 0;
  z-index: 5;

  //-webkit-transition: left .8s cubic-bezier(.25, .8, .25, 1), top .8s cubic-bezier(.25, .8, .25, 1);
  //-moz-transition: left .8s cubic-bezier(.25, .8, .25, 1), top .8s cubic-bezier(.25, .8, .25, 1);
  //transition: left .8s cubic-bezier(.25, .8, .25, 1), top .8s cubic-bezier(.25, .8, .25, 1);

  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s linear;

  &.hdn {
    visibility: hidden;
    opacity: 0;
  }

  div#search_gui {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
    width: 500px;

    form.navbar-form {
      margin-bottom: 0;

      input.form-control {
        width: 400px;
        margin-right: 10px;
      }

      .btn {
        padding: 5px 14px;
        border-width: 1px !important;
      }

    }

  }

  a.reset {
    display: none; /* изначально кнопка невидна */
    font-size: 12px;
    margin: 0 auto;
    width: 429px;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;

    &:hover {
      text-decoration: underline !important;
      color: #18669a;
    }
  }

}