div.tabs_js {

  div.tab_buttons {

  }

  div.tab_content {
    padding: 5px 15px 15px 20px;
    color: #1A1A1A;

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      /*@include frankRegular(15px);*/

      li {
        overflow: hidden;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        span {
          color: #6f6f6f;
        }
      }
    }

  }

}