div.tabs_js {

  /*
  <div class="tab_buttons clearfix">
    <a href="#" data-id="6" data-index="0" class="active">Первый этаж</a>
    <a href="#" data-id="48" data-index="1" class="red">Второй этаж</a>
    <a href="#" data-id="49" data-index="2">Третий этаж</a>
  </div>
  */
  div.tab_buttons {
    > a {
      &.red {
        position: relative;
        &:after {
          content: attr(data-search-count); /* количество магазинов (удовлетворяющих поиску) на этаже */
          position: absolute;

          width: 20px;
          height: 20px;
          background-color: red;
          border-radius: 5px;

          font-size: 15px;
          font-weight: bold;
          color: #ffffff;

        }
      }
    }
  }

  div.tab_content {
    padding: 5px 15px 15px 20px;
    color: #1A1A1A;
    overflow-y: auto;
    overflow-x: hidden;

    width: 445px;
    white-space: nowrap;

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      /*@include frankRegular(15px);*/

      li {
        overflow: hidden;

        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        span {
          color: #4271B5;
          font-weight: bold;
        }

        &.price {
          padding-top: 15px;
          font-size: 20px;
        }

        a {
          font-weight: bold;
          color: #048bce;
          text-decoration: underline !important;

          &:hover {
            color: #006ca1;
            text-decoration: underline !important;
          }

        }

      }
    }

  }

}